on: [push]

jobs:
  container-scan-to-sarif_job:
    runs-on: ubuntu-latest
    name: Upload Container Scan Report to GitHub Code Scanning
    steps:
      - uses: actions/checkout@v3

      - name: Scan sample image with Azure Container Scan
        id: container-image-scan
        continue-on-error: true
        uses: Azure/container-scan@v0.1
        with:
          image-name: "busybox:1.35.0"

      - name: Convert Container Scan Output to SARIF
        id: container-scan-to-sarif
        if: ${{ always() }}
        uses: ./
        with:
          input-file: ${{ steps.container-image-scan.outputs.scan-report-path }}

      - name: Upload SARIF reports to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        if: ${{ always() }}
        with:
          sarif_file: ${{ steps.container-scan-to-sarif.outputs.sarif-report-path }}
